In [2]:
!pip install plotly

Collecting plotly
  Downloading plotly-1.12.9.tar.gz (740kB)
    100% |████████████████████████████████| 747kB 784kB/s
Requirement already satisfied (use --upgrade to upgrade): requests in /anaconda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): six in /anaconda/lib/python3.5/site-packages (from plotly)
Requirement already satisfied (use --upgrade to upgrade): pytz in /anaconda/lib/python3.5/site-packages (from plotly)
Building wheels for collected packages: plotly
  Running setup.py bdist_wheel for plotly ... - \ | done
  Stored in directory: /Users/juhi/Library/Caches/pip/wheels/4b/eb/b9/12c68c4beb81c35532cabab650a8948487e90ed6c9e66e15b0
Successfully built plotly
Installing collected packages: plotly
Successfully installed plotly-1.12.9
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

3-1-1 is a special telephone number supported in many communities in Canada and the United States. The number provides access to non-emergency municipal services. The below data shows most common complaints logged from 2010 till present along with their frequency (number of complaints)

In [3]:
import plotly.tools as tls
tls.embed('https://plot.ly/~chris/7365')

In [4]:
# establishing database connection and importing plotting libraries
import pandas as pd
from sqlalchemy import create_engine # database connection
import datetime as dt
from IPython.display import display

import plotly.plotly as py # interactive graphing
from plotly.graph_objs import Bar, Scatter, Marker, Layout

In [5]:
# displaying head of 311 service requests data
display(pd.read_csv('/Users/juhi/Downloads/311_Service_Requests_from_2010_to_Present.csv.crdownload', nrows=2).head())

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,34130633,08/20/2016 11:27:00 AM,09/01/2016 12:00:00 PM,DSNY,P - Commercial Recycling Citywide,Recycling Enforcement,ER5 Comm. Recyc. (Bldg Mgmt),Sidewalk,10013,459 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.720664,-74.000823,"(40.72066442411745, -74.00082252601034)"
1,25974619,07/20/2013 06:12:00 AM,07/20/2013 06:12:00 AM,DEP,Department of Environmental Protection,Water System,Fire Hydrant Emergency (FHE),NaN,10452,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.836306,-73.925168,"(40.83630605606669, -73.92516818961418)"

In [7]:
# displaying tail of 311 service requests data
display(pd.read_csv('/Users/juhi/Downloads/311_Service_Requests_from_2010_to_Present.csv.crdownload', nrows=2).tail())

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,34130633,08/20/2016 11:27:00 AM,09/01/2016 12:00:00 PM,DSNY,P - Commercial Recycling Citywide,Recycling Enforcement,ER5 Comm. Recyc. (Bldg Mgmt),Sidewalk,10013,459 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.720664,-74.000823,"(40.72066442411745, -74.00082252601034)"
1,25974619,07/20/2013 06:12:00 AM,07/20/2013 06:12:00 AM,DEP,Department of Environmental Protection,Water System,Fire Hydrant Emergency (FHE),NaN,10452,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.836306,-73.925168,"(40.83630605606669, -73.92516818961418)"

In [9]:
disk_engine = create_engine('sqlite:///311_8M.db') # Initializes database with filename 311_8M.db in current directory

The data has 53 columns so we will clean the data and use only interesting and informative
columns for analysis purpose. First we will remove spaces from the columns and reduce the number of columns. For the analysis we will be using 'Agency', 'CreatedDate', 'ComplaintType', 'Descriptor', 'ClosedDate', 'TimeToCompletion' and 'City'.

In [11]:
start = dt.datetime.now()
chunksize = 20000
j = 0
index_start = 1

for df in pd.read_csv('/Users/juhi/Downloads/311_Service_Requests_from_2010_to_Present.csv.crdownload', chunksize=chunksize, iterator=True, encoding='utf-8'):
    
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) # Remove spaces from columns

    df['CreatedDate'] = pd.to_datetime(df['CreatedDate']) # Convert to datetimes
    df['ClosedDate'] = pd.to_datetime(df['ClosedDate'])

    df.index += index_start

    # Remove the un-interesting columns
    columns = ['Agency', 'CreatedDate', 'ClosedDate', 'ComplaintType', 'Descriptor',
               'CreatedDate', 'ClosedDate', 'TimeToCompletion',
               'City']
    
    for c in df.columns:
        if c not in columns:
            df = df.drop(c, axis=1)    
    
    j+=1
    
    print ('{} seconds: completed {} rows'.format((dt.datetime.now()-start).seconds, j*chunksize))

    df.to_sql('data', disk_engine, if_exists='append')
    index_start = df.index[-1] + 1

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,41) have mixed types. Specify dtype option on import or set low_memory=False.

14 seconds: completed 20000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.

31 seconds: completed 40000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

48 seconds: completed 60000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,47) have mixed types. Specify dtype option on import or set low_memory=False.

64 seconds: completed 80000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

80 seconds: completed 100000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.

97 seconds: completed 120000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.

114 seconds: completed 140000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39) have mixed types. Specify dtype option on import or set low_memory=False.

130 seconds: completed 160000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,40,47) have mixed types. Specify dtype option on import or set low_memory=False.

147 seconds: completed 180000 rows
164 seconds: completed 200000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39) have mixed types. Specify dtype option on import or set low_memory=False.

180 seconds: completed 220000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17) have mixed types. Specify dtype option on import or set low_memory=False.

197 seconds: completed 240000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,40,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

213 seconds: completed 260000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,40,41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

228 seconds: completed 280000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

244 seconds: completed 300000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,48) have mixed types. Specify dtype option on import or set low_memory=False.

260 seconds: completed 320000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.

276 seconds: completed 340000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.

292 seconds: completed 360000 rows
307 seconds: completed 380000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,48) have mixed types. Specify dtype option on import or set low_memory=False.

323 seconds: completed 400000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

338 seconds: completed 420000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,40,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

354 seconds: completed 440000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41,43,44,45,46,49) have mixed types. Specify dtype option on import or set low_memory=False.

369 seconds: completed 460000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

385 seconds: completed 480000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,47) have mixed types. Specify dtype option on import or set low_memory=False.

405 seconds: completed 500000 rows
422 seconds: completed 520000 rows
445 seconds: completed 540000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41) have mixed types. Specify dtype option on import or set low_memory=False.

487 seconds: completed 560000 rows
529 seconds: completed 580000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

574 seconds: completed 600000 rows
617 seconds: completed 620000 rows
665 seconds: completed 640000 rows
708 seconds: completed 660000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

751 seconds: completed 680000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

797 seconds: completed 700000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39) have mixed types. Specify dtype option on import or set low_memory=False.

853 seconds: completed 720000 rows
884 seconds: completed 740000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

900 seconds: completed 760000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,40,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

919 seconds: completed 780000 rows
937 seconds: completed 800000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

955 seconds: completed 820000 rows
972 seconds: completed 840000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

990 seconds: completed 860000 rows
1008 seconds: completed 880000 rows
1026 seconds: completed 900000 rows
1043 seconds: completed 920000 rows
1062 seconds: completed 940000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

1078 seconds: completed 960000 rows
1096 seconds: completed 980000 rows
1114 seconds: completed 1000000 rows
1133 seconds: completed 1020000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,47) have mixed types. Specify dtype option on import or set low_memory=False.

1151 seconds: completed 1040000 rows
1166 seconds: completed 1060000 rows
1183 seconds: completed 1080000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

1201 seconds: completed 1100000 rows
1222 seconds: completed 1120000 rows
1238 seconds: completed 1140000 rows
1254 seconds: completed 1160000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

1270 seconds: completed 1180000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

1287 seconds: completed 1200000 rows
1305 seconds: completed 1220000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (48,49) have mixed types. Specify dtype option on import or set low_memory=False.

1322 seconds: completed 1240000 rows
1339 seconds: completed 1260000 rows
1357 seconds: completed 1280000 rows
1372 seconds: completed 1300000 rows
1388 seconds: completed 1320000 rows
1403 seconds: completed 1340000 rows
1419 seconds: completed 1360000 rows
1434 seconds: completed 1380000 rows
1450 seconds: completed 1400000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,48) have mixed types. Specify dtype option on import or set low_memory=False.

1465 seconds: completed 1420000 rows
1481 seconds: completed 1440000 rows
1497 seconds: completed 1460000 rows
1512 seconds: completed 1480000 rows
1528 seconds: completed 1500000 rows
1543 seconds: completed 1520000 rows
1559 seconds: completed 1540000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

1576 seconds: completed 1560000 rows
1592 seconds: completed 1580000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,41,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

1607 seconds: completed 1600000 rows
1625 seconds: completed 1620000 rows
1646 seconds: completed 1640000 rows
1665 seconds: completed 1660000 rows
1682 seconds: completed 1680000 rows
1698 seconds: completed 1700000 rows
1713 seconds: completed 1720000 rows
1727 seconds: completed 1740000 rows
1742 seconds: completed 1760000 rows
1757 seconds: completed 1780000 rows
1771 seconds: completed 1800000 rows
1785 seconds: completed 1820000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,41) have mixed types. Specify dtype option on import or set low_memory=False.

1800 seconds: completed 1840000 rows
1814 seconds: completed 1860000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

1827 seconds: completed 1880000 rows
1842 seconds: completed 1900000 rows
1856 seconds: completed 1920000 rows
1871 seconds: completed 1940000 rows
1885 seconds: completed 1960000 rows
1899 seconds: completed 1980000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

1914 seconds: completed 2000000 rows
1929 seconds: completed 2020000 rows
1947 seconds: completed 2040000 rows
1964 seconds: completed 2060000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (47,48) have mixed types. Specify dtype option on import or set low_memory=False.

1978 seconds: completed 2080000 rows
1992 seconds: completed 2100000 rows
2007 seconds: completed 2120000 rows
2022 seconds: completed 2140000 rows
2036 seconds: completed 2160000 rows
2053 seconds: completed 2180000 rows
2067 seconds: completed 2200000 rows
2082 seconds: completed 2220000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,48) have mixed types. Specify dtype option on import or set low_memory=False.

2097 seconds: completed 2240000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

2112 seconds: completed 2260000 rows
2129 seconds: completed 2280000 rows
2145 seconds: completed 2300000 rows
2160 seconds: completed 2320000 rows
2175 seconds: completed 2340000 rows
2190 seconds: completed 2360000 rows
2202 seconds: completed 2380000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

2215 seconds: completed 2400000 rows
2228 seconds: completed 2420000 rows
2241 seconds: completed 2440000 rows
2253 seconds: completed 2460000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

2267 seconds: completed 2480000 rows
2280 seconds: completed 2500000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

2293 seconds: completed 2520000 rows
2307 seconds: completed 2540000 rows
2320 seconds: completed 2560000 rows
2333 seconds: completed 2580000 rows
2349 seconds: completed 2600000 rows
2363 seconds: completed 2620000 rows
2379 seconds: completed 2640000 rows
2396 seconds: completed 2660000 rows
2411 seconds: completed 2680000 rows
2425 seconds: completed 2700000 rows
2438 seconds: completed 2720000 rows
2451 seconds: completed 2740000 rows
2465 seconds: completed 2760000 rows
2478 seconds: completed 2780000 rows
2492 seconds: completed 2800000 rows
2505 seconds: completed 2820000 rows
2519 seconds: completed 2840000 rows
2533 seconds: completed 2860000 rows
2547 seconds: completed 2880000 rows
2562 seconds: completed 2900000 rows
2576 seconds: completed 2920000 rows
2590 seconds: completed 2940000 rows
2606 seconds: completed 2960000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,48) have mixed types. Specify dtype option on import or set low_memory=False.

2620 seconds: completed 2980000 rows
2635 seconds: completed 3000000 rows
2649 seconds: completed 3020000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

2664 seconds: completed 3040000 rows
2678 seconds: completed 3060000 rows
2692 seconds: completed 3080000 rows
2708 seconds: completed 3100000 rows
2723 seconds: completed 3120000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

2738 seconds: completed 3140000 rows
2754 seconds: completed 3160000 rows
2768 seconds: completed 3180000 rows
2783 seconds: completed 3200000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (39,47) have mixed types. Specify dtype option on import or set low_memory=False.

2798 seconds: completed 3220000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

2814 seconds: completed 3240000 rows
2829 seconds: completed 3260000 rows
2843 seconds: completed 3280000 rows
2858 seconds: completed 3300000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40) have mixed types. Specify dtype option on import or set low_memory=False.

2872 seconds: completed 3320000 rows
2886 seconds: completed 3340000 rows
2901 seconds: completed 3360000 rows
2915 seconds: completed 3380000 rows
2930 seconds: completed 3400000 rows
2944 seconds: completed 3420000 rows
2959 seconds: completed 3440000 rows
2973 seconds: completed 3460000 rows
2988 seconds: completed 3480000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,41,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

3002 seconds: completed 3500000 rows
3016 seconds: completed 3520000 rows
3030 seconds: completed 3540000 rows
3044 seconds: completed 3560000 rows
3059 seconds: completed 3580000 rows
3076 seconds: completed 3600000 rows
3091 seconds: completed 3620000 rows
3105 seconds: completed 3640000 rows
3120 seconds: completed 3660000 rows
3134 seconds: completed 3680000 rows
3149 seconds: completed 3700000 rows
3164 seconds: completed 3720000 rows
3178 seconds: completed 3740000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,43,44,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.

3192 seconds: completed 3760000 rows
3207 seconds: completed 3780000 rows
3221 seconds: completed 3800000 rows
3236 seconds: completed 3820000 rows
3250 seconds: completed 3840000 rows
3264 seconds: completed 3860000 rows
3279 seconds: completed 3880000 rows
3293 seconds: completed 3900000 rows
3309 seconds: completed 3920000 rows
3323 seconds: completed 3940000 rows
3338 seconds: completed 3960000 rows
3352 seconds: completed 3980000 rows
3366 seconds: completed 4000000 rows
3381 seconds: completed 4020000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.

3395 seconds: completed 4040000 rows
3410 seconds: completed 4060000 rows
3424 seconds: completed 4080000 rows
3438 seconds: completed 4100000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,47) have mixed types. Specify dtype option on import or set low_memory=False.

3453 seconds: completed 4120000 rows
3467 seconds: completed 4140000 rows
3481 seconds: completed 4160000 rows
3496 seconds: completed 4180000 rows
3510 seconds: completed 4200000 rows
3525 seconds: completed 4220000 rows
3539 seconds: completed 4240000 rows
3553 seconds: completed 4260000 rows
3568 seconds: completed 4280000 rows
3582 seconds: completed 4300000 rows
3596 seconds: completed 4320000 rows
3610 seconds: completed 4340000 rows
3625 seconds: completed 4360000 rows
3639 seconds: completed 4380000 rows
3653 seconds: completed 4400000 rows
3668 seconds: completed 4420000 rows
3682 seconds: completed 4440000 rows
3696 seconds: completed 4460000 rows
3711 seconds: completed 4480000 rows
3725 seconds: completed 4500000 rows
3739 seconds: completed 4520000 rows
3753 seconds: completed 4540000 rows
3768 seconds: completed 4560000 rows
3782 seconds: completed 4580000 rows
3796 seconds: completed 4600000 rows
3810 seconds: completed 4620000 rows
3825 seconds: completed 4640000 rows
3839 seconds: completed 4660000 rows
3853 seconds: completed 4680000 rows
3867 seconds: completed 4700000 rows
3882 seconds: completed 4720000 rows
3896 seconds: completed 4740000 rows
3910 seconds: completed 4760000 rows
3924 seconds: completed 4780000 rows
3939 seconds: completed 4800000 rows
4618 seconds: completed 4820000 rows
4633 seconds: completed 4840000 rows
4647 seconds: completed 4860000 rows
4662 seconds: completed 4880000 rows
4676 seconds: completed 4900000 rows
4690 seconds: completed 4920000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,48) have mixed types. Specify dtype option on import or set low_memory=False.

4704 seconds: completed 4940000 rows
4718 seconds: completed 4960000 rows
4733 seconds: completed 4980000 rows
4747 seconds: completed 5000000 rows
4761 seconds: completed 5020000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.

4775 seconds: completed 5040000 rows
4790 seconds: completed 5060000 rows
4804 seconds: completed 5080000 rows
4818 seconds: completed 5100000 rows
4833 seconds: completed 5120000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

4847 seconds: completed 5140000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

4862 seconds: completed 5160000 rows
4876 seconds: completed 5180000 rows
4891 seconds: completed 5200000 rows
4905 seconds: completed 5220000 rows
4919 seconds: completed 5240000 rows
4934 seconds: completed 5260000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,48) have mixed types. Specify dtype option on import or set low_memory=False.

4948 seconds: completed 5280000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,41) have mixed types. Specify dtype option on import or set low_memory=False.

4962 seconds: completed 5300000 rows
4980 seconds: completed 5320000 rows
4995 seconds: completed 5340000 rows
5009 seconds: completed 5360000 rows
5024 seconds: completed 5380000 rows
5038 seconds: completed 5400000 rows
5052 seconds: completed 5420000 rows
5066 seconds: completed 5440000 rows
5080 seconds: completed 5460000 rows
5094 seconds: completed 5480000 rows
5108 seconds: completed 5500000 rows
5122 seconds: completed 5520000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

5136 seconds: completed 5540000 rows
5151 seconds: completed 5560000 rows
5165 seconds: completed 5580000 rows
5179 seconds: completed 5600000 rows
5193 seconds: completed 5620000 rows
5207 seconds: completed 5640000 rows
5221 seconds: completed 5660000 rows
5235 seconds: completed 5680000 rows
5249 seconds: completed 5700000 rows
5264 seconds: completed 5720000 rows
5278 seconds: completed 5740000 rows
5292 seconds: completed 5760000 rows
5306 seconds: completed 5780000 rows
5320 seconds: completed 5800000 rows
5334 seconds: completed 5820000 rows
5348 seconds: completed 5840000 rows
5362 seconds: completed 5860000 rows
5376 seconds: completed 5880000 rows
5390 seconds: completed 5900000 rows
5404 seconds: completed 5920000 rows
5418 seconds: completed 5940000 rows
5432 seconds: completed 5960000 rows
5447 seconds: completed 5980000 rows
5461 seconds: completed 6000000 rows
5475 seconds: completed 6020000 rows
5489 seconds: completed 6040000 rows
5505 seconds: completed 6060000 rows
5520 seconds: completed 6080000 rows
5533 seconds: completed 6100000 rows
5547 seconds: completed 6120000 rows
5561 seconds: completed 6140000 rows
5575 seconds: completed 6160000 rows
5589 seconds: completed 6180000 rows
5603 seconds: completed 6200000 rows
5617 seconds: completed 6220000 rows
5631 seconds: completed 6240000 rows
5645 seconds: completed 6260000 rows
5659 seconds: completed 6280000 rows
5673 seconds: completed 6300000 rows
5688 seconds: completed 6320000 rows
5704 seconds: completed 6340000 rows
5718 seconds: completed 6360000 rows
5732 seconds: completed 6380000 rows
5746 seconds: completed 6400000 rows
5760 seconds: completed 6420000 rows
5774 seconds: completed 6440000 rows
5788 seconds: completed 6460000 rows
5801 seconds: completed 6480000 rows
5817 seconds: completed 6500000 rows
5832 seconds: completed 6520000 rows
5846 seconds: completed 6540000 rows
5859 seconds: completed 6560000 rows
5874 seconds: completed 6580000 rows
5888 seconds: completed 6600000 rows
5903 seconds: completed 6620000 rows
5917 seconds: completed 6640000 rows
5933 seconds: completed 6660000 rows
5947 seconds: completed 6680000 rows
5961 seconds: completed 6700000 rows
5975 seconds: completed 6720000 rows
5990 seconds: completed 6740000 rows
6004 seconds: completed 6760000 rows
6018 seconds: completed 6780000 rows
6032 seconds: completed 6800000 rows
6046 seconds: completed 6820000 rows
6061 seconds: completed 6840000 rows
6075 seconds: completed 6860000 rows
6089 seconds: completed 6880000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

6104 seconds: completed 6900000 rows
6118 seconds: completed 6920000 rows
6132 seconds: completed 6940000 rows
6147 seconds: completed 6960000 rows
6161 seconds: completed 6980000 rows
6175 seconds: completed 7000000 rows
6190 seconds: completed 7020000 rows
6204 seconds: completed 7040000 rows
6218 seconds: completed 7060000 rows
6234 seconds: completed 7080000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,43,44,45,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

6248 seconds: completed 7100000 rows
6263 seconds: completed 7120000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

6277 seconds: completed 7140000 rows
6291 seconds: completed 7160000 rows
6305 seconds: completed 7180000 rows
6321 seconds: completed 7200000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41) have mixed types. Specify dtype option on import or set low_memory=False.

6336 seconds: completed 7220000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (13,14,17,18,20,38,40,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

6351 seconds: completed 7240000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

6365 seconds: completed 7260000 rows
6379 seconds: completed 7280000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

6393 seconds: completed 7300000 rows
6407 seconds: completed 7320000 rows
6423 seconds: completed 7340000 rows
6437 seconds: completed 7360000 rows
6451 seconds: completed 7380000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

6465 seconds: completed 7400000 rows
6480 seconds: completed 7420000 rows
6494 seconds: completed 7440000 rows
6508 seconds: completed 7460000 rows
6523 seconds: completed 7480000 rows
6538 seconds: completed 7500000 rows
6552 seconds: completed 7520000 rows
6566 seconds: completed 7540000 rows
6580 seconds: completed 7560000 rows
6594 seconds: completed 7580000 rows
6609 seconds: completed 7600000 rows
6623 seconds: completed 7620000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

6637 seconds: completed 7640000 rows
6652 seconds: completed 7660000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40) have mixed types. Specify dtype option on import or set low_memory=False.

6666 seconds: completed 7680000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,48) have mixed types. Specify dtype option on import or set low_memory=False.

6680 seconds: completed 7700000 rows
6694 seconds: completed 7720000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,48) have mixed types. Specify dtype option on import or set low_memory=False.

6708 seconds: completed 7740000 rows
6724 seconds: completed 7760000 rows
6739 seconds: completed 7780000 rows
6753 seconds: completed 7800000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,47) have mixed types. Specify dtype option on import or set low_memory=False.

6767 seconds: completed 7820000 rows
6782 seconds: completed 7840000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.

6796 seconds: completed 7860000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,47) have mixed types. Specify dtype option on import or set low_memory=False.

6810 seconds: completed 7880000 rows
6824 seconds: completed 7900000 rows
6838 seconds: completed 7920000 rows
6852 seconds: completed 7940000 rows
6867 seconds: completed 7960000 rows
6882 seconds: completed 7980000 rows
6897 seconds: completed 8000000 rows
6911 seconds: completed 8020000 rows
6928 seconds: completed 8040000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

6942 seconds: completed 8060000 rows
6957 seconds: completed 8080000 rows
6973 seconds: completed 8100000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,48) have mixed types. Specify dtype option on import or set low_memory=False.

6988 seconds: completed 8120000 rows
7003 seconds: completed 8140000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,48) have mixed types. Specify dtype option on import or set low_memory=False.

7019 seconds: completed 8160000 rows
7034 seconds: completed 8180000 rows
7049 seconds: completed 8200000 rows
7063 seconds: completed 8220000 rows
7077 seconds: completed 8240000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,47) have mixed types. Specify dtype option on import or set low_memory=False.

7096 seconds: completed 8260000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41) have mixed types. Specify dtype option on import or set low_memory=False.

7111 seconds: completed 8280000 rows
7128 seconds: completed 8300000 rows
7142 seconds: completed 8320000 rows
7156 seconds: completed 8340000 rows
7172 seconds: completed 8360000 rows
7186 seconds: completed 8380000 rows
7202 seconds: completed 8400000 rows
7218 seconds: completed 8420000 rows
7232 seconds: completed 8440000 rows
7246 seconds: completed 8460000 rows
7260 seconds: completed 8480000 rows
7275 seconds: completed 8500000 rows
7290 seconds: completed 8520000 rows
7304 seconds: completed 8540000 rows
7318 seconds: completed 8560000 rows
7334 seconds: completed 8580000 rows
7348 seconds: completed 8600000 rows
7362 seconds: completed 8620000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,47) have mixed types. Specify dtype option on import or set low_memory=False.

7376 seconds: completed 8640000 rows
7391 seconds: completed 8660000 rows
7405 seconds: completed 8680000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40) have mixed types. Specify dtype option on import or set low_memory=False.

7419 seconds: completed 8700000 rows
7433 seconds: completed 8720000 rows
7447 seconds: completed 8740000 rows
7462 seconds: completed 8760000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41,43,44,45,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

7476 seconds: completed 8780000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,43,44,45,48) have mixed types. Specify dtype option on import or set low_memory=False.

7490 seconds: completed 8800000 rows
7504 seconds: completed 8820000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

7519 seconds: completed 8840000 rows
7533 seconds: completed 8860000 rows
7547 seconds: completed 8880000 rows
7561 seconds: completed 8900000 rows
7575 seconds: completed 8920000 rows
7589 seconds: completed 8940000 rows
7604 seconds: completed 8960000 rows
7618 seconds: completed 8980000 rows
7632 seconds: completed 9000000 rows
7646 seconds: completed 9020000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

7660 seconds: completed 9040000 rows
7674 seconds: completed 9060000 rows
7688 seconds: completed 9080000 rows
7702 seconds: completed 9100000 rows
7716 seconds: completed 9120000 rows
7731 seconds: completed 9140000 rows
7745 seconds: completed 9160000 rows
7759 seconds: completed 9180000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,49) have mixed types. Specify dtype option on import or set low_memory=False.

7773 seconds: completed 9200000 rows
7787 seconds: completed 9220000 rows
7801 seconds: completed 9240000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

7815 seconds: completed 9260000 rows
7829 seconds: completed 9280000 rows
7844 seconds: completed 9300000 rows
7860 seconds: completed 9320000 rows
7874 seconds: completed 9340000 rows
7889 seconds: completed 9360000 rows
7904 seconds: completed 9380000 rows
7918 seconds: completed 9400000 rows
7932 seconds: completed 9420000 rows
7946 seconds: completed 9440000 rows
7962 seconds: completed 9460000 rows
7976 seconds: completed 9480000 rows
7991 seconds: completed 9500000 rows
8006 seconds: completed 9520000 rows
8023 seconds: completed 9540000 rows
8038 seconds: completed 9560000 rows
8053 seconds: completed 9580000 rows
8068 seconds: completed 9600000 rows
8083 seconds: completed 9620000 rows
8098 seconds: completed 9640000 rows
8113 seconds: completed 9660000 rows
8128 seconds: completed 9680000 rows
8143 seconds: completed 9700000 rows
8158 seconds: completed 9720000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,41) have mixed types. Specify dtype option on import or set low_memory=False.

8174 seconds: completed 9740000 rows
8189 seconds: completed 9760000 rows
8204 seconds: completed 9780000 rows
8219 seconds: completed 9800000 rows
8233 seconds: completed 9820000 rows
8248 seconds: completed 9840000 rows
8263 seconds: completed 9860000 rows
8279 seconds: completed 9880000 rows
8294 seconds: completed 9900000 rows
8309 seconds: completed 9920000 rows
8324 seconds: completed 9940000 rows
8338 seconds: completed 9960000 rows
8353 seconds: completed 9980000 rows
8368 seconds: completed 10000000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

8383 seconds: completed 10020000 rows
8398 seconds: completed 10040000 rows
8414 seconds: completed 10060000 rows
8429 seconds: completed 10080000 rows
8444 seconds: completed 10100000 rows
8458 seconds: completed 10120000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

8473 seconds: completed 10140000 rows
8488 seconds: completed 10160000 rows
8503 seconds: completed 10180000 rows
8518 seconds: completed 10200000 rows
8532 seconds: completed 10220000 rows
8547 seconds: completed 10240000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

8562 seconds: completed 10260000 rows
8577 seconds: completed 10280000 rows
8592 seconds: completed 10300000 rows
8606 seconds: completed 10320000 rows
8621 seconds: completed 10340000 rows
8636 seconds: completed 10360000 rows
8651 seconds: completed 10380000 rows
8666 seconds: completed 10400000 rows
8680 seconds: completed 10420000 rows
8695 seconds: completed 10440000 rows
8711 seconds: completed 10460000 rows
8726 seconds: completed 10480000 rows
8740 seconds: completed 10500000 rows
8757 seconds: completed 10520000 rows
8772 seconds: completed 10540000 rows
8787 seconds: completed 10560000 rows
8801 seconds: completed 10580000 rows
8816 seconds: completed 10600000 rows
8831 seconds: completed 10620000 rows
8846 seconds: completed 10640000 rows
8861 seconds: completed 10660000 rows
8876 seconds: completed 10680000 rows
8891 seconds: completed 10700000 rows
8906 seconds: completed 10720000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,47) have mixed types. Specify dtype option on import or set low_memory=False.

8921 seconds: completed 10740000 rows
8936 seconds: completed 10760000 rows
8951 seconds: completed 10780000 rows
8966 seconds: completed 10800000 rows
8981 seconds: completed 10820000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,41,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

8996 seconds: completed 10840000 rows
9011 seconds: completed 10860000 rows
9026 seconds: completed 10880000 rows
9042 seconds: completed 10900000 rows
9057 seconds: completed 10920000 rows
9072 seconds: completed 10940000 rows
9087 seconds: completed 10960000 rows
9101 seconds: completed 10980000 rows
9116 seconds: completed 11000000 rows
9131 seconds: completed 11020000 rows
9149 seconds: completed 11040000 rows
9164 seconds: completed 11060000 rows
9179 seconds: completed 11080000 rows
9194 seconds: completed 11100000 rows
9209 seconds: completed 11120000 rows
9224 seconds: completed 11140000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

9239 seconds: completed 11160000 rows
9254 seconds: completed 11180000 rows
9269 seconds: completed 11200000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,40,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

9283 seconds: completed 11220000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,41,47) have mixed types. Specify dtype option on import or set low_memory=False.

9298 seconds: completed 11240000 rows
9313 seconds: completed 11260000 rows
9328 seconds: completed 11280000 rows
9343 seconds: completed 11300000 rows
9358 seconds: completed 11320000 rows
9373 seconds: completed 11340000 rows
9388 seconds: completed 11360000 rows
9403 seconds: completed 11380000 rows
9418 seconds: completed 11400000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

9433 seconds: completed 11420000 rows
9450 seconds: completed 11440000 rows
9464 seconds: completed 11460000 rows
9479 seconds: completed 11480000 rows
9494 seconds: completed 11500000 rows
9509 seconds: completed 11520000 rows
9524 seconds: completed 11540000 rows
9539 seconds: completed 11560000 rows
9553 seconds: completed 11580000 rows
9568 seconds: completed 11600000 rows
9583 seconds: completed 11620000 rows
9598 seconds: completed 11640000 rows
9613 seconds: completed 11660000 rows
9629 seconds: completed 11680000 rows
9645 seconds: completed 11700000 rows
9660 seconds: completed 11720000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

9675 seconds: completed 11740000 rows
9690 seconds: completed 11760000 rows
9704 seconds: completed 11780000 rows
9719 seconds: completed 11800000 rows
9734 seconds: completed 11820000 rows
9748 seconds: completed 11840000 rows
9763 seconds: completed 11860000 rows
9777 seconds: completed 11880000 rows
9792 seconds: completed 11900000 rows
9807 seconds: completed 11920000 rows
9821 seconds: completed 11940000 rows
9836 seconds: completed 11960000 rows
9851 seconds: completed 11980000 rows
9865 seconds: completed 12000000 rows
9880 seconds: completed 12020000 rows
9895 seconds: completed 12040000 rows
9909 seconds: completed 12060000 rows
9924 seconds: completed 12080000 rows
9939 seconds: completed 12100000 rows
9953 seconds: completed 12120000 rows
9968 seconds: completed 12140000 rows
9983 seconds: completed 12160000 rows
9997 seconds: completed 12180000 rows
10012 seconds: completed 12200000 rows
10027 seconds: completed 12220000 rows
10042 seconds: completed 12240000 rows
10056 seconds: completed 12260000 rows
10071 seconds: completed 12280000 rows
10086 seconds: completed 12300000 rows
10101 seconds: completed 12320000 rows
10117 seconds: completed 12340000 rows
10132 seconds: completed 12360000 rows
10147 seconds: completed 12380000 rows
10161 seconds: completed 12400000 rows
10176 seconds: completed 12420000 rows
10190 seconds: completed 12440000 rows
10205 seconds: completed 12460000 rows
10219 seconds: completed 12480000 rows
10234 seconds: completed 12500000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,43,44,45,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10248 seconds: completed 12520000 rows
10263 seconds: completed 12540000 rows
10278 seconds: completed 12560000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (43,44,45,47) have mixed types. Specify dtype option on import or set low_memory=False.

10293 seconds: completed 12580000 rows
10307 seconds: completed 12600000 rows
10322 seconds: completed 12620000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,40,41,43,44,45,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10337 seconds: completed 12640000 rows
10351 seconds: completed 12660000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,39,40) have mixed types. Specify dtype option on import or set low_memory=False.

10366 seconds: completed 12680000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,39,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10380 seconds: completed 12700000 rows
10395 seconds: completed 12720000 rows
10410 seconds: completed 12740000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,39,40) have mixed types. Specify dtype option on import or set low_memory=False.

10424 seconds: completed 12760000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,41,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10439 seconds: completed 12780000 rows
10453 seconds: completed 12800000 rows
10468 seconds: completed 12820000 rows
10483 seconds: completed 12840000 rows
10497 seconds: completed 12860000 rows
10512 seconds: completed 12880000 rows
10526 seconds: completed 12900000 rows
10540 seconds: completed 12920000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10555 seconds: completed 12940000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

10570 seconds: completed 12960000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,43,44,45,46,49) have mixed types. Specify dtype option on import or set low_memory=False.

10587 seconds: completed 12980000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10602 seconds: completed 13000000 rows
10617 seconds: completed 13020000 rows
10632 seconds: completed 13040000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,41,43,44,45,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

10646 seconds: completed 13060000 rows
10659 seconds: completed 13080000 rows
10672 seconds: completed 13100000 rows
10684 seconds: completed 13120000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41,42,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10699 seconds: completed 13140000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,42,43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10714 seconds: completed 13160000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,48) have mixed types. Specify dtype option on import or set low_memory=False.

10731 seconds: completed 13180000 rows
10746 seconds: completed 13200000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,48) have mixed types. Specify dtype option on import or set low_memory=False.

10761 seconds: completed 13220000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.

10776 seconds: completed 13240000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,42,48) have mixed types. Specify dtype option on import or set low_memory=False.

10793 seconds: completed 13260000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,43,44,45,46,49) have mixed types. Specify dtype option on import or set low_memory=False.

10808 seconds: completed 13280000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (41,42,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10823 seconds: completed 13300000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,46) have mixed types. Specify dtype option on import or set low_memory=False.

10838 seconds: completed 13320000 rows
10855 seconds: completed 13340000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,41,43,44,45) have mixed types. Specify dtype option on import or set low_memory=False.

10870 seconds: completed 13360000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,17,41,48) have mixed types. Specify dtype option on import or set low_memory=False.

10885 seconds: completed 13380000 rows
10902 seconds: completed 13400000 rows
10919 seconds: completed 13420000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,41,42,43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10934 seconds: completed 13440000 rows
10949 seconds: completed 13460000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,45,46,49) have mixed types. Specify dtype option on import or set low_memory=False.

10965 seconds: completed 13480000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,45,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

10980 seconds: completed 13500000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (46,49) have mixed types. Specify dtype option on import or set low_memory=False.

10995 seconds: completed 13520000 rows
11011 seconds: completed 13540000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,49) have mixed types. Specify dtype option on import or set low_memory=False.

11030 seconds: completed 13560000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

11046 seconds: completed 13580000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

11061 seconds: completed 13600000 rows
11077 seconds: completed 13620000 rows
11091 seconds: completed 13640000 rows
11107 seconds: completed 13660000 rows
11122 seconds: completed 13680000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (43,44,45,46,48) have mixed types. Specify dtype option on import or set low_memory=False.

11137 seconds: completed 13700000 rows
11154 seconds: completed 13720000 rows
11169 seconds: completed 13740000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (8,42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.

11185 seconds: completed 13760000 rows
11203 seconds: completed 13780000 rows
11218 seconds: completed 13800000 rows
11233 seconds: completed 13820000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (40,41,47,48) have mixed types. Specify dtype option on import or set low_memory=False.

11249 seconds: completed 13840000 rows
11266 seconds: completed 13860000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (17,40,41,42,43,44,45,46,48,49) have mixed types. Specify dtype option on import or set low_memory=False.

11281 seconds: completed 13880000 rows
11296 seconds: completed 13900000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (42,43,44,45,46) have mixed types. Specify dtype option on import or set low_memory=False.

11311 seconds: completed 13920000 rows
11326 seconds: completed 13940000 rows

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning:

Columns (46) have mixed types. Specify dtype option on import or set low_memory=False.

11342 seconds: completed 13960000 rows
11354 seconds: completed 13980000 rows

In [12]:
# displaying head (first 3 rows) of modified data using SQL select statement
df = pd.read_sql_query('SELECT * FROM data LIMIT 3', disk_engine)
df.head()

,index,CreatedDate,ClosedDate,Agency,ComplaintType,Descriptor,City
0,1,2016-08-20 11:27:00.000000,2016-09-01 12:00:00.000000,DSNY,Recycling Enforcement,ER5 Comm. Recyc. (Bldg Mgmt),NEW YORK
1,2,2013-07-20 06:12:00.000000,2013-07-20 06:12:00.000000,DEP,Water System,Fire Hydrant Emergency (FHE),BRONX
2,3,2013-07-20 05:49:00.000000,2013-07-20 05:50:00.000000,DEP,Water System,Fire Hydrant Emergency (FHE),BRONX

In [13]:
# displaying head for two columns (agency, descriptor) using SQL select statement  
df = pd.read_sql_query('SELECT Agency, Descriptor FROM data LIMIT 3', disk_engine)
df.head()

  Agency                    Descriptor
0   DSNY  ER5 Comm. Recyc. (Bldg Mgmt)
1    DEP  Fire Hydrant Emergency (FHE)
2    DEP  Fire Hydrant Emergency (FHE)

In [14]:
# displaying first 10 rows for columns: complaintType, Descriptor and Agency 
df = pd.read_sql_query('SELECT ComplaintType, Descriptor, Agency '
                       'FROM data '
                       'LIMIT 10', disk_engine)
df

,ComplaintType,Descriptor,Agency
0,Recycling Enforcement,ER5 Comm. Recyc. (Bldg Mgmt),DSNY
1,Water System,Fire Hydrant Emergency (FHE),DEP
2,Water System,Fire Hydrant Emergency (FHE),DEP
3,Water System,Fire Hydrant Emergency (FHE),DEP
4,Traffic Signal Condition,Pedestrian Signal,DOT
5,Water System,Hydrant Running Full (WA4),DEP
6,Water System,Fire Hydrant Emergency (FHE),DEP
7,Noise,Noise: Construction Before/After Hours (NM1),DEP
8,Water System,Fire Hydrant Emergency (FHE),DEP
9,Water System,Fire Hydrant Emergency (FHE),DEP

In [15]:
# displaying first 10 rows for selected columns for agency = "NYPD" using conidtional SQL statement 
df = pd.read_sql_query('SELECT ComplaintType, Descriptor, Agency '
                       'FROM data '
                       'WHERE Agency = "NYPD" '
                       'LIMIT 10', disk_engine)
df.head()

         ComplaintType          Descriptor Agency
0              Vending          Unlicensed   NYPD
1  Noise - Residential    Loud Music/Party   NYPD
2     Derelict Vehicle  With License Plate   NYPD
3   Noise - Commercial    Loud Music/Party   NYPD
4  Noise - Residential    Loud Music/Party   NYPD

In [16]:
# displaying first 10 rows for selected columns for agency = "NYPD" or "DOB"
df = pd.read_sql_query('SELECT ComplaintType, Descriptor, Agency '
                       'FROM data '
                       'WHERE Agency IN ("NYPD", "DOB")'
                       'LIMIT 10', disk_engine)
df.head()

                   ComplaintType                           Descriptor Agency
0                        Vending                           Unlicensed   NYPD
1            Noise - Residential                     Loud Music/Party   NYPD
2  General Construction/Plumbing  Failure to Comply with Vacate Order    DOB
3               Derelict Vehicle                   With License Plate   NYPD
4             Noise - Commercial                     Loud Music/Party   NYPD

In [17]:
# displaying different cities (no reptition)
df = pd.read_sql_query('SELECT DISTINCT City FROM data', disk_engine)
df.head()

       City
0  NEW YORK
1     BRONX
2  BROOKLYN
3      None
4   Jamaica

In [18]:
# displaying number of complaints for each agency (first 5 agencies)
df = pd.read_sql_query('SELECT Agency, COUNT(*) as `num_complaints`'
                       'FROM data '
                       'GROUP BY Agency ', disk_engine)

df.head()

  Agency  num_complaints
0  3-1-1           23953
1    ACS             172
2    AJC               9
3    CAU              10
4   CCRB              13

In [19]:
# displaying all agencies along with number of complaints for each of them ordered by no. of complaints
df = pd.read_sql_query('SELECT Agency, COUNT(*) as `num_complaints`'
                       'FROM data '
                       'GROUP BY Agency '
                       'ORDER BY -num_complaints', disk_engine)
df

        Agency  num_complaints
0          HPD         4187669
1         NYPD         2844839
2          DOT         2022574
3          DEP         1147953
4         DSNY          939977
5          DPR          645300
6          DOB          624475
7          DOF          529948
8        DOHMH          358322
9          TLC          162858
10         DCA          144184
11         DHS          123011
12         HRA           81260
13        DFTA           70448
14        FDNY           36112
15       3-1-1           23953
16         DOE           13712
17         EDC            6959
18       DOITT            5987
19       CHALL            1620
20         OPS            1301
21       NYCEM            1127
22        OATH             320
23         DOP             204
24         ACS             172
25       DORIS              68
26         DCP              63
27        MOIA              33
28        COIB              32
29        MOVA              18
..         ...             ...
34        DCLA              11
35         LAW              11
36         CAU              10
37        MOPD              10
38      NYCOOA              10
39         AJC               9
40         DOC               9
41         MOC               9
42      NYCPPF               9
43        OCME               9
44        DCAS               8
45        DYCD               8
46       OCHIA               8
47          IA               7
48         OPA               6
49         SBS               6
50        EMTF               5
51         OAE               5
52         CWI               4
53      NYCERS               4
54         VAC               4
55   DESIGNCOM               3
56          DV               3
57        LOFT               3
58  NYCSERVICE               3
59         WF1               3
60         LPC               1
61         OMB               1
62         TAT               1
63         TFA               1

[64 rows x 2 columns]

In [20]:
import plotly.plotly as py
py.sign_in('juhisrivastava', 'tbh9rldffu')

In [21]:
py.iplot([Bar(x=df.Agency, y=df.num_complaints)])

High five! You successfuly sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~juhisrivastava/0 or inside your plot.ly account where it is named 'plot from API'

In [22]:
# plotting data to show frequency for each complaint type 
df = pd.read_sql_query('SELECT ComplaintType, COUNT(*) as `num_complaints`, Agency '
                       'FROM data '
                       'GROUP BY `ComplaintType` '
                       'ORDER BY -num_complaints', disk_engine)


most_common_complaints = df # used later
py.iplot({
    'data': [Bar(x=df['ComplaintType'], y=df.num_complaints)],
    'layout': { 
        'margin': {'b': 150}, # Make the bottom margin a bit bigger to handle the long text
        'xaxis': {'tickangle': 40}} # Angle the labels a bit
    })

In [23]:
# displaying number of distinct cities from data 
len(pd.read_sql_query('SELECT DISTINCT City FROM data', disk_engine))

2205

In [24]:
# displaying number of complaints for each city (first 10 cities)
df = pd.read_sql_query('SELECT City, COUNT(*) as `num_complaints` '
                                'FROM data '
                                'GROUP BY `City` '
                       'ORDER BY -num_complaints '
                       'LIMIT 10 ', disk_engine)
df

            City  num_complaints
0       BROOKLYN         4118685
1       NEW YORK         2693434
2          BRONX         2505136
3           None          996594
4  STATEN ISLAND          660389
5        JAMAICA          206618
6       FLUSHING          162742
7        ASTORIA          133335
8        Jamaica          123234
9      RIDGEWOOD           98243

In [25]:
df = pd.read_sql_query('SELECT City, COUNT(*) as `num_complaints` '
                        'FROM data '
                        'GROUP BY `City` '
                       'COLLATE NOCASE '
                       'ORDER BY -num_complaints '
                       'LIMIT 11 ', disk_engine)
df

             City  num_complaints
0        BROOKLYN         4118685
1        NEW YORK         2693436
2           BRONX         2505136
3            None          996594
4   STATEN ISLAND          660389
5         Jamaica          329852
6        Flushing          247870
7         Astoria          205449
8       Ridgewood          148550
9          Corona          107194
10       Woodside          103236

In [26]:
cities = list(df.City)
cities.remove(None)

In [27]:
traces = [] # the series in the graph - one trace for each city

for city in cities:
    df = pd.read_sql_query('SELECT ComplaintType, COUNT(*) as `num_complaints` '
                           'FROM data '
                           'WHERE City = "{}" COLLATE NOCASE '
                           'GROUP BY `ComplaintType` '
                           'ORDER BY -num_complaints'.format(city), disk_engine)

    traces.append(Bar(x=df['ComplaintType'], y=df.num_complaints, name=city.capitalize()))

In [28]:
py.iplot({'data': traces, 'layout': Layout(barmode='stack', xaxis={'tickangle': 40}, margin={'b': 150})})

In [29]:
for trace in traces:
    trace['y'] = 100.*trace['y']/sum(trace['y'])

In [30]:
py.iplot({'data': traces, 
          'layout': Layout(
                barmode='group',
                xaxis={'tickangle': 40, 'autorange': False, 'range': [-0.5, 16]},
                yaxis={'title': 'Percent of Complaints by City'},
                margin={'b': 150},
                title='Relative Number of 311 Complaints by City')
         })

In [31]:
df = pd.read_sql_query('SELECT ComplaintType, CreatedDate, City '
                       'FROM data '
                       'WHERE CreatedDate < "2014-11-16 23:47:00" '
                       'AND CreatedDate > "2014-11-16 23:45:00"', disk_engine)

df

              ComplaintType                 CreatedDate       City
0         Derelict Vehicles  2014-11-16 23:46:00.000000    Jamaica
1        Noise - Commercial  2014-11-16 23:46:08.000000    ASTORIA
2   Noise - Street/Sidewalk  2014-11-16 23:45:10.000000   NEW YORK
3          Blocked Driveway  2014-11-16 23:45:43.000000   BROOKLYN
4          Derelict Vehicle  2014-11-16 23:46:57.000000  RIDGEWOOD
5        School Maintenance  2014-11-16 23:45:41.000000      BRONX
6  Benefit Card Replacement  2014-11-16 23:45:55.000000       None

In [32]:
df = pd.read_sql_query('SELECT CreatedDate, '
                              'strftime(\'%H\', CreatedDate) as hour, '
                              'ComplaintType '
                       'FROM data '
                       'LIMIT 5 ', disk_engine)
df.head()

                  CreatedDate hour             ComplaintType
0  2016-08-20 11:27:00.000000   11     Recycling Enforcement
1  2013-07-20 06:12:00.000000   06              Water System
2  2013-07-20 05:49:00.000000   05              Water System
3  2013-07-20 05:49:00.000000   05              Water System
4  2016-08-20 12:16:00.000000   12  Traffic Signal Condition

In [ ]:
df = pd.read_sql_query('SELECT CreatedDate, '
                               'strftime(\'%H\', CreatedDate) as hour,  '
                               'count(*) as `Complaints per Hour`'
                       'FROM data '
                       'GROUP BY hour', disk_engine)

df.head()

Graphical respresntation of number of complaints according to each hour in a day showing highest number of complaints being logged during early hours of the day with more than 3.5 M complains.

In [34]:
py.iplot({
    'data': [Bar(x=df['hour'], y=df['Complaints per Hour'])],
    'layout': Layout(xaxis={'title': 'Hour in Day'},
                     yaxis={'title': 'Number of Complaints'})})

Following is the graphical representation of the number of noise complaints in NYC by hour in day going highest during the late hours of the day (probably after 9 P.M) with around 96-98k complaints.

In [35]:
df = pd.read_sql_query('SELECT CreatedDate, '
                               'strftime(\'%H\', CreatedDate) as `hour`,  '
                               'count(*) as `Complaints per Hour`'
                       'FROM data '
                       'WHERE ComplaintType IN ("Noise", '
                                               '"Noise - Street/Sidewalk", '
                                               '"Noise - Commercial", '
                                               '"Noise - Vehicle", '
                                               '"Noise - Park", '
                                               '"Noise - House of Worship", '
                                               '"Noise - Helicopter", '
                                               '"Collection Truck Noise") '
                       'GROUP BY hour', disk_engine)

display(df.head(n=2))

py.iplot({
    'data': [Bar(x=df['hour'], y=df['Complaints per Hour'])],
    'layout': Layout(xaxis={'title': 'Hour in Day'},
                     yaxis={'title': 'Number of Complaints'},
                     title='Number of Noise Complaints in NYC by Hour in Day'
                    )})

                  CreatedDate hour  Complaints per Hour
0  2016-08-10 00:41:00.000000   00                75717
1  2016-08-03 01:48:00.000000   01                59779

In [46]:
complaint_traces = {} # Each series in the graph will represent a complaint
complaint_traces['Other'] = {}

for hour in range(1, 24):
    hour_str = '0'+str(hour) if hour < 10 else str(hour)
    df = pd.read_sql_query('SELECT  CreatedDate, '
                                   'ComplaintType ,'
                                   'strftime(\'%H\', CreatedDate) as `hour`,  '
                                   'COUNT(*) as num_complaints '
                           'FROM data '
                           'WHERE hour = "{}" '
                           'GROUP BY ComplaintType '
                           'ORDER BY -num_complaints'.format(hour_str), disk_engine)
    
    complaint_traces['Other'][hour] = sum(df.num_complaints)
    
    # Grab the 7 most common complaints for that hour
    for i in range(7):
        complaint = df.get_value(i, 'ComplaintType')
        count = df.get_value(i, 'num_complaints')
        complaint_traces['Other'][hour] -= count
        if complaint in complaint_traces:
            complaint_traces[complaint][hour] = count
        else:
            complaint_traces[complaint] = {hour: count}

Below is the graphical representation of data showing 7 most common 311 complaints by hour in a day. We can observe highest number of complaints are for residential noise (highest during the late hours of the day) followed by street light condition (highest in the afternoon) and blocked driveway (distributed throughout the day). There is a substantial amount of complaints for 'other' category which is not sub-categorised in detail.
In [45]:

In [45]:
traces = []
for complaint in complaint_traces:
    traces.append({
        'x': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24],
        'y': [complaint_traces[complaint].get(i, None) for i in range(25)],
        'name': complaint,
        'type': 'bar'
    })

py.iplot({
    'data': traces, 
    'layout': {
        'barmode': 'stack',
        'xaxis': {'title': 'Hour in Day'},
        'yaxis': {'title': 'Number of Complaints'},
        'title': 'The 7 Most Common 311 Complaints by Hour in a Day'
    }})

In [39]:
minutes = 15
seconds = 15*60

df = pd.read_sql_query('SELECT CreatedDate, '
                               'datetime(('
                                   'strftime(\'%s\', CreatedDate) / {seconds}) * {seconds}, \'unixepoch\') interval '
                       'FROM data '
                       'LIMIT 10 '.format(seconds=seconds), disk_engine)

display(df.head())

                  CreatedDate             interval
0  2016-08-20 11:27:00.000000  2016-08-20 11:15:00
1  2013-07-20 06:12:00.000000  2013-07-20 06:00:00
2  2013-07-20 05:49:00.000000  2013-07-20 05:45:00
3  2013-07-20 05:49:00.000000  2013-07-20 05:45:00
4  2016-08-20 12:16:00.000000  2016-08-20 12:15:00

In [40]:
minutes = 15
seconds = minutes*60

df = pd.read_sql_query('SELECT datetime(('
                                   'strftime(\'%s\', CreatedDate) / {seconds}) * {seconds}, \'unixepoch\') interval ,'
                               'COUNT(*) as "Complaints / interval"'
                       'FROM data '
                       'GROUP BY interval '
                       'ORDER BY interval '
                       'LIMIT 500'.format(seconds=seconds), disk_engine)

display(df.head())
display(df.tail())

              interval  Complaints / interval
0  2010-01-01 00:00:00                   1284
1  2010-01-01 00:15:00                     15
2  2010-01-01 00:30:00                     14
3  2010-01-01 00:45:00                     25
4  2010-01-01 01:00:00                     31

                interval  Complaints / interval
495  2010-01-06 04:15:00                      2
496  2010-01-06 04:45:00                      6
497  2010-01-06 05:00:00                      5
498  2010-01-06 05:15:00                      9
499  2010-01-06 05:30:00                      9

Displaying number of complaints per 15 mins between 1st-6th Jan 2010 going highest on Jan 4 with more than 5000 complaints

In [41]:
py.iplot(
    {
        'data': [{
            'x': df.interval,
            'y': df['Complaints / interval'],
            'type': 'bar'
        }],
        'layout': {
            'title': 'Number of 311 Complaints per 15 Minutes'
        }
})

In [42]:
hours = 24
minutes = hours*60
seconds = minutes*60

df = pd.read_sql_query('SELECT datetime(('
                                   'strftime(\'%s\', CreatedDate) / {seconds}) * {seconds}, \'unixepoch\') interval ,'
                               'COUNT(*) as "Complaints / interval"'
                       'FROM data '
                       'GROUP BY interval '
                       'ORDER BY interval'.format(seconds=seconds), disk_engine)

Displaying number of compaints per day which seems to be increasing after 2012, going highest 
for 2016.

In [43]:

py.iplot(
    {
        'data': [{
            'x': df.interval,
            'y': df['Complaints / interval'],
            'type': 'bar'
        }],
        'layout': {
            'title': 'Number of 311 Complaints per Day'
        }
})